/lesson12_json_venv/venv/
/lesson13_BeautifulSoup/venv/
/lesson15_parsing/venv/
/lesson20_PostgreSQL/venv/
/lesson21/venv/
/wildberries/venv/
/translatorBot/venv/
/translateBottest/venv/
/nodirBot/venv/
/wallpapersBot/venv/
/qazoBot/venv/
/wallpapersBot/Абстракция/
/.idea/
/.idea
.idea/